@import "tailwindcss";
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f7f0f0;
  }
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color:#f7efef;
}

;